.reports{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
    margin-top: 50px;
    margin-left: 50px;
}

.report-item{
    padding: 80px;
    box-shadow:
    0  5px 10px rgba(154,160,185,0.05),
    0 15px 40px rgba(166,173,201,0.2);
    border-radius: 10px;
}


.report-item span li {
    font-size: 2em;
}


.report-val{
    font-size: 3em;
}