.admin-container{
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.admin-left-pane{
    width: 20%;
    -webkit-box-shadow: 8px 1px 5px -3px rgba(0,0,0,0.37);
-moz-box-shadow: 8px 1px 5px -3px rgba(0,0,0,0.37);
box-shadow: 8px 1px 5px -3px rgba(0,0,0,0.37);
background-color: #83C5BE;
}

.admin-right-pane{
    width: 80%;
}


.admin-left-pane ul{
    list-style: none;
}

.admin-left-pane ul li{
    padding :10px;
}

.fa-solid{
    margin-right: 10px;
    font-size: 1.5em;
}

.logout-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.dashboard-title{
    margin-left: 20px;
}