
.container {
    background-color: #83C5BE;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: auto;
    height: 100%;
    padding: 1vw;
}

.heading {
    color: #006D77;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 2vw;
    margin-left: 25%;
    margin-right:25%;
    width: 60%;
    margin-top: 25%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 11px 10px 5px -3px rgba(0,0,0,0.59);
-webkit-box-shadow: 11px 10px 5px -3px rgba(0,0,0,0.59);
-moz-box-shadow: 11px 10px 5px -3px rgba(0,0,0,0.59);

}

.label {
    color: #006D77;
    font-weight: bold;
}

.field {
    background-color: #EDF6F9;
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border-radius: 5px;
}

.field::placeholder {
    color: #006D77 ;
}

.butt {
    background-color: #83C5BE;
    color: #006D77;
    margin-top:30px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight:bold;
}

.bottom-cont{
    font-size: 1.2em;
    text-align: center;
    color: black;
}


.upload--container {
    background-color: #565C7C;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 1vw;
}

.upload--heading {
    color: white;
}

.upload--form {
    display: flex;
    flex-direction: row;
    row-gap: 0px;
}
.upload--form--left {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    padding: 2vw;
}
.upload--form--right {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    padding: 2vw;
}

.upload--label {
    color: white;
}

.upload--field {
    background-color: #6D738E;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border-radius: 5px;
}

.upload--field::placeholder {
    color: #cecece;
}

.upload--butt {
    background-color: #1059FF;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.upload--bottom-cont{
    margin-top: 7%;
    font-size: 1.2em;
    text-align: center;
}

.register--form {
    margin: 0;
    width: 100%;
}
.container--form {
    background-color: #565C7C;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 100px auto;
    height: 100%;
}

