.request-form-container{
    display: inline-block;
    height: 100vh;
    background-color: #83C5BE;
    width: 100%;
}

.request-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 2vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 11px 10px 5px -3px rgba(0,0,0,0.59);
-webkit-box-shadow: 11px 10px 5px -3px rgba(0,0,0,0.59);
-moz-box-shadow: 11px 10px 5px -3px rgba(0,0,0,0.59);
}


.req-field{
    height: 200px;
    width: 100%;
}

.req-but{
    background-color: #83C5BE;
    color: #006D77;
    margin-top:30px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight:bold;
}